@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Контакты 1.0</h1>
    <p class="lead">Приложение "Контакты 1.0" разработано в рамках тестового задания компании ЦВТ.</p>
    <p><a href="~/Contacts" class="btn btn-primary btn-lg">Перейти &raquo;</a>
    </p>
</div>
